<%
    const servicesNavItems = [
        { href: '/services/landscaping', text: 'Landscaping' },
        { href: '/services/decking-fencing', text: 'Decking & Fencing' },
        { href: '/services/driveways-paving', text: 'Driveways & Paving' },
        { href: '/services/garden-rooms', text: 'Garden rooms' },
        { href: '/services/outdoor-kitchens', text: 'Outdoor kitchens' },
    ];

    const navItems = [ 
        { href: '/', text: 'Home' },
        { href: '/about', text: 'About' },
        {  text: 'Services' , dropdownItems: servicesNavItems},
    ];
%>
<nav class="flex space-x-8 justify-between items-center  ">
    <ul class="flex space-x-4 items-center">
        <% navItems.forEach(item => { %>
             <% if (item.dropdownItems) { %>
                <li class="relative dropdown">
                    <a href="#" class="text-gray-600 hover:text-gray-900"><%= item.text %></a>
                    <ul class="absolute left-0  w-48 bg-white border rounded shadow-lg dropdown-menu hidden z-10">
                        <% item.dropdownItems.forEach(dropdownItem => { %>
                            <li><a href="<%= dropdownItem.href %>" class="block px-4 py-2 text-gray-600 hover:bg-gray-100"><%= dropdownItem.text %></a></li>
                        <% }) %>
                    </ul>
                </li>
            <% } else { %>
                <li><a href="<%= item.href %>" class="text-gray-600 hover:text-gray-900"><%= item.text %></a></li>
            <% } %>
        <% }) %>
    </ul>
    <div class="flex items-center">
        <a href="/contact" class="text-white bg-black hover:bg-blue-700 py-2 px-4  rounded-lg ml-auto">Lets Talk</a>
    </div>
</nav>



