<% if (currentTitle) { %>
    <% sections = sections.filter(section => section.title !== currentTitle); %>
<% } %>

<% if (items) { %>
    <% sections = sections.sort(() => Math.random() - 0.5); %>
    <% sections = sections.slice(0, items); %>
<% } %>



<% sections.forEach((section, index) => { %>
<section class="container mx-auto px-4 py-8 flex flex-col md:flex-row <%= index % 2 === 0 ? '' : 'md:flex-row-reverse' %> items-center">
    <div class="w-full md:w-1/2 mb-4 md:mb-0">
      <div class="h-64 md:h-96 w-full bg-center bg-cover" style="background-image: url('<%= section.image %>');"></div>
    </div>
    <div class="w-full md:w-1/2 px-4 py-4">
      <h2 class="text-2xl md:text-3xl font-bold text-gray-800"><%= section.title %></h2>
      <p class="mt-4 text-gray-600"><%= section.description %></p>
      <?- if (section.features && section.features.length) { ?>
        <ul class="mt-4 text-gray-600">
            <% section.features.forEach(feature => { %>
            <li class="mt-2">• <%= feature %></li>
            <% }) %>
        </ul>
      <?- } ?>
      <a href="<%= section.link %>" class="mt-4 inline-block bg-black text-white py-2 px-4 rounded">Read More</a>
    </div>
</section>
<% }) %>
